<footer class="bg-danger p-3 bg-gradient">
    <div class="container d-flex justify-content-start">
        <ul>
            <li><a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>Facebook</li>
            <li><a href="https://www.Instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>Instagram</li>
            <li><a href="https://twitter.com" target="_blank"><i class="bi bi-twitter"></i></a>Twitter</li>
        </ul>
    </div>
    <div class="d-flex justify-content-center">
        <p>Copyright &copy; Linguaphiles LLC 2022.</p>  
    </div>
</footer>