

<footer class="bg-dark p-4 bg-gradient container-fluid text-center text-white">
    <p>Follow our pages or contact us at:</p>
    <div class="container" id="social-media">
          <!-- Email -->
        <a
        class="btn btn-link btn-floating btn-lg text-white m-1"
        href="https://www.wikipedia.org"
        target="_blank"
        role="button"
        data-mdb-ripple-color="white"
        ><i class="fa-solid fa-paper-plane fa-3x"></i>
          </a>

          <!-- Facebook -->
        <a
             class="btn btn-link btn-floating btn-lg text-white m-1"
             href="https://www.facebook.com"
             target="_blank"
             role="button"
             data-mdb-ripple-color="white"
             ><i class="fab fa-facebook-f fa-3x"></i
        ></a>

          <!-- Twitter -->
        <a
             class="btn btn-link btn-floating btn-lg text-white m-1"
             href="https://twitter.com"
             target="_blank"
             role="button"
             data-mdb-ripple-color="white"
             ><i class="fab fa-twitter fa-3x"></i
        ></a>

          <!-- Instagram -->
          <a
             class="btn btn-link btn-floating btn-lg text-white m-1"
             href="https://www.Instagram.com"
             target="_blank"
             role="button"
             data-mdb-ripple-color="white"
             ><i class="fab fa-instagram fa-3x"></i
        ></a>

          <!-- Quora -->
          <a
            class="btn btn-link btn-floating btn-lg text-white m-1"
            href="https://www.quora.com"
            target="_blank"
            role="button"
            data-mdb-ripple-color="white"
            ><i class="fa-brands fa-quora fa-3x"></i
          ></a>

    </div>
    <p>Copyright &copy; Linguaphiles LLC 2022</p>
    <a class="text-muted" href="http://www.termify.io" target="_blank">  Terms & conditions apply</a>
</footer>
