<footer class="bg-dark p-3 bg-gradient container-fluid text-center text-white">
    <p>Follow us for inspiration at:</p>
    <div class="container" id="social-media">
          <!-- Facebook -->
        <a
             class="btn btn-link btn-floating btn-lg text-white mx-1 bg-primary"
             href="https://www.facebook.com"
             target="_blank"
             role="button"
             data-mdb-ripple-color="white"
             ><i class="fab fa-facebook-f fa-lg"></i
        ></a>

          <!-- Twitter -->
        <a
             class="btn btn-link btn-floating btn-lg text-white mx-1 bg-primary"
             href="https://twitter.com"
             target="_blank"
             role="button"
             data-mdb-ripple-color="white"
             ><i class="fab fa-twitter fa-lg"></i
        ></a>

          <!-- Instagram -->
        <a
             class="btn btn-link btn-floating btn-lg text-dark fw-bolder mx-1 bg-warning"
             href="https://www.Instagram.com"
             target="_blank"
             role="button"
             data-mdb-ripple-color="white"
             ><i class="fab fa-instagram fa-lg"></i
        ></a>

          <!-- Spotify -->
        <a
            class="btn btn-link btn-floating btn-lg text-white mx-1 bg-success"
            href="https://www.spotify.com"
            target="_blank"
            role="button"
            data-mdb-ripple-color="white"
            ><i class="fa-brands fa-spotify fa-lg"></i
        ></a>
    </div>
    <hr>
    <p class="mt-2">Copyright &copy; Linguaphiles LLC 2022</p>
    <a class="text-muted" href="http://www.termify.io" target="_blank" id="terms">  Terms & conditions apply</a>
</footer>
