<header>
    <nav class="navbar navbar-expand-sm bg-danger navbar-dark bg-gradient">
        <div class="container-fluid">
        <a class="navbar-brand fs-3 fw-bold" href="#">Linguaphiles<i class="fa-solid fa-earth-africa ms-2"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            <ul class="navbar-nav">         
                <li class="nav-item">
                <a class="nav-item nav-link fs-3" href="#">login</a>
                </li>
                <li class="nav-item">
                <a class="nav-item nav-link fs-3" href="#">Sign up</a>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </nav>
</header>