body {
    margin: 0;
    padding-top: 67px; /*prevents the fixed-top class of the navbar from overlapping with the body content*/
    background-color: white;
}

#homePagePic {
    background-image: url(https://res.cloudinary.com/dxxysm630/image/upload/v1647447728/Language3_gxr2i4.jpg);
    height:75vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
    background-position: center;    
}

hr {
    border-top: 2px solid rgb(48, 47, 3);
}

.form-check .form-check-input {
    float: none;
}

footer {
    bottom: 0;
}