body {
    margin: 0;
    /*prevents the fixed-top class of the navbar from overlapping with the body content*/
    padding-top: 67px; 
    background-color: whitesmoke;
    /* Include the viewport height, positioning of the footer will be relative to it*/
    min-height: 100vh;
    /* The value of this property is equal to - 324px which is the height of the footer*/
    padding-bottom: 324px; 
    position: relative; /* Footer is positioned absolute relative to the body*/
}

#homePagePic {
    background-image: url(https://res.cloudinary.com/dxxysm630/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1647279704/Language_bkiru2.jpg);
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
    background-position: center;    
}

.card-body, #box-shadow, #box-shadow2, #login-form, #register-form, #edit-form {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

hr {border: 1px solid rgb(12, 12, 2);}

.form-check .form-check-input {float: none;}

#register-form {
    max-width: 800px;
    margin: auto;
}

#login-form {
    max-width: 600px;
    margin: auto;
}

#edit-form {
    max-width: 800px;
    margin: auto;
}

footer {
    position: absolute;
    bottom: 0;
}

#social-media a {border-radius: 50%;}

@media (orientation: portrait) and (max-width: 768px) {
    #homePagePic {
        height: 37vh;
    }
    #register-form, #edit-form {
        max-width: 400px;
    }
    #login-form {
        max-width: 300px;
    }
}

@media (orientation: landscape) and (max-width: 768px) {
    #homePagePic {
        height: 75vh;
    }
    #register-form, #edit-form {
        max-width: 600px;
    }
}
