{% extends 'base.html' %}
{% include 'partials/navbar.html'%}
{% block body %}
    <!-- Form to update profile info -->
    <div class="container rounded border border-dark border border-1 my-4 text-center w-50 bg-light" id="edit-form">
        <!-- Add the special encoding type to the form element in order for image data to be passed properly -->
        <form class="row g-3" method="POST" action="" enctype="multipart/form-data" novalidate>
            <!-- Adds the CSRF token-->
            {{  form.hidden_tag() }}
            <fieldset>
                <legend class="fw-bold my-3 border-bottom">Edit Your Profile</legend>
                <div class="row align-items-center g-3 mt-3">
                    <div class="col-sm-6">
                        {{ form.firstname.label(class="form-label") }}
                        {% if form.firstname.errors %}
                            {{ form.firstname(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.firstname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.firstname(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        {{ form.lastname.label(class="form-label") }}
                        {% if form.lastname.errors %}
                            {{ form.lastname(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.lastname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{ form.lastname(class="form-control") }}
                        {% endif %}
                    </div>
                </div>
                <div class="row align-items-center g-3 mt-3">
                    <small class="text-primary">For multiple selection hold the Shift/Ctrl key down, whilst you use your mouse to click</small>
                    <div class="col-sm-6">
                        {{ form.fluent_languages.label(class="form-label") }}
                        {% if form.fluent_languages.errors %}
                            {{ form.fluent_languages(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.fluent_languages.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.fluent_languages(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        {{ form.other_languages.label(class="form-label") }}
                        {% if form.other_languages.errors %}
                            {{ form.other_languages(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.other_languages.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.other_languages(class="form-control") }}
                        {% endif %}
                    </div>
                </div>
                <div class="row-8 mt-3">
                    {{ form.interests.label(class="form-label") }}
                    {% if form.interests.errors %}
                        {{ form.interests(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.interests.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.interests(class="form-control") }}
                    {% endif %}
                </div>
                <div class="row align-items-center g-3 mt-1">
                    <div class="col-sm-12">
                        {{ form.lookup_address.label(class="form-label") }} 
                        {% if form.lookup_address.errors %} 
                            {{ form.lookup_address(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.lookup_address.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %} 
                            {{ form.lookup_address(class="form-control") }}
                        {% endif %}
                    </div>
                </div>
                <div class="row align-items-center g-3 mt-1">
                    <div id="container" style="width: 620px; height: 300px;">
                        <!--Google map-->
                        <div id="map" style="height: 100%;"></div>
                    </div>
                </div>
                <div class="row align-items-center g-3 mt-3">
                    <div class="col-sm-6">
                        {{ form.picture.label(class="form-label") }}
                        {{ form.picture(class="form-control-file") }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="btn btn-dark btn-lg rounded-pill my-3") }}
            </div>
        </form>
    </div>
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}
<!-- JQuery and Map scripts  -->
<script src="{{ url_for('static', filename='register.js') }}"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key={{map_key}}&callback=initAutocomplete&libraries=places&v=weekly&channel=2"
  async
></script>
{% endblock body %}