{% extends 'base.html' %}
{% includes '/partials/navbar.html' %}
{% block content %}
<!--Insert background image with text-->
    <div class="container-fluid mt-2" id="homePagePic"></div>
    <div class="container mt-2">
        <div class="row">
            <div class="col-5 border border-2 border border-dark">
                <img src="https://res.cloudinary.com/dxxysm630/image/upload/v1646409405/learners_zinncu.jpg" alt="language learners" class="img-fluid">
            </div>
            <div class="col-7">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae ipsum consectetur aliquam quo perspiciatis porro autem inventore veniam maiores, ab sapiente expedita nobis ipsa earum, aliquid mollitia ipsam doloribus explicabo fugit harum! Omnis porro sint explicabo cupiditate quidem, aperiam, error sapiente vero ut laborum quis voluptatibus quo, accusamus officia sit.</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A nihil minima vitae facere eveniet eaque assumenda, ipsam consequatur, nobis, neque odit facilis rerum doloribus quo officia reiciendis exercitationem ipsa! Iure dolorem explicabo optio atque consequuntur fuga quasi corporis ipsam rem ullam autem magni eum expedita temporibus, vero, reprehenderit ducimus delectus. Voluptates perspiciatis accusamus, sed beatae quisquam quo rem libero iste, nisi a eum. Nobis ipsa atque quam reiciendis assumenda a animi laborum, aut soluta illo facilis vitae, recusandae alias ad quas maxime deleniti id porro totam culpa error tempore. Magnam laborum suscipit nihil harum neque commodi libero facilis delectus dicta.</p>
    </div>
    <hr>
    <div class="container-fluid">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nam quae ratione recusandae. Quo officia blanditiis assumenda ratione velit laborum doloremque amet adipisci fugit autem. Culpa nulla veniam esse excepturi.</p>
    </div>
{% endblock content %}
{% includes '/partials/footer.html' %}
{% block footer %}
{% endblock footer %}




