{% extends 'base.html' %}
{% block body %}
{% include 'partials/navbar.html'%}
    <article>
        <div class="container my-5 border border-1 border border-warning rounded bg-light" id="box-shadow">
            <h2 class="mt-3" id="Top">What Really Helps You Become A Fluent Speaker?</h2>
            <hr>
            <p class="fs-5">
                There have never been more tools and options available to help you learn a new language! 
                From apps to videos, books to language clubs, whatever your preferred learning method,
                there is bound to be an option that suits your style. For your best chance at improving quickly 
                and effectively in your new language, make sure that you turn language learning into a daily habit.  
            </p>
            <div class="card mb-3 border border-dark rounded">
                <div class="card-body">
                <h4 class="card-title">11 Tools To Help You Become A Fluent Speaker</h4>
                <p class="card-text fs-5">
                    When you’re learning a new language, it’s important to have a range of tools at your disposal. 
                    Not only do you need to learn new vocabulary and syntax, 
                    but you’ll also need to work on your fluency and pronunciation.
                    With an ever-increasing array of options to choose from, 
                    here are 11 tools to help you build up your fluency in your new language.
                </p>
                <a href="https://www.idyoma.com/blog/become-a-fluent-speaker" class="card-link" target="_blank">Read more on the 11 tools</a>
                </div>
            </div>
            </div>
        </div>
    </article>
    <article>
        <!-- Card Image Overlays -->
        <div class="container my-4">
            <div class="row d-flex justify-content-center g-4">
                <div class="col-md-auto">
                    <div class="card bg-dark bg-gradient text-white" style="width: 350px;">
                        <img src="https://res.cloudinary.com/dxxysm630/image/upload/v1648657906/User._cdoctz.jpg" class="card-img-top" alt="A man kissing another on the cheek">
                        <div class="card-body">
                            <h5 class="card-title">Jerry Gaffer</h5>
                            <p class="card-text">⭐⭐⭐⭐⭐</p>
                            <p class="card-text">
                            Getting to talk to people in the language that I'm learning makes a big difference! Everyone is so nice 😃
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="card bg-dark bg-gradient text-white" style="width: 350px;">
                        <img src="https://res.cloudinary.com/dxxysm630/image/upload/v1636997129/Barista_hhkviw.jpg" class="card-img-top" alt="smiling lady standing at a counter">
                        <div class="card-body">
                            <h5 class="card-title">Ines Kinte</h5>
                            <p class="card-text">⭐⭐⭐⭐⭐</p>
                            <p class="card-text">
                            Thanks to Linguaphiles I learn and practice languages daily. It's possible to practice on a regular basis as you meet new people
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="card bg-dark bg-gradient text-white" style="width: 350px;">
                        <img src="https://res.cloudinary.com/dxxysm630/image/upload/c_scale,h_340,w_509/v1648658379/User2_pxnnch.jpg" class="card-img-top" alt="Indian man smiling">
                        <div class="card-body">
                            <h5 class="card-title">Ishmael Naik</h5>
                            <p class="card-text">⭐⭐⭐⭐⭐</p>
                            <p class="card-text">
                            I made friends , who helped me a lot at a time when I had job interviews in English. 
                            I got my job thanks to Linguaphiles!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="container my-5">
            <div class="card mb-3 border border-warning">
                <div class="card-body">
                <h4 class="card-title">5 Reasons To Learn English As A Second Language</h4>
                <p class="card-text fs-5">
                    For those of us who grew up in countries where English isn’t the primary language, 
                    it’s plain to see that English is the definite way to go.
                    A firm, fluent grasp of the English language can open so many doors and opportunities across the globe.
                    If that’s not enough to whet your appetite, here are 5 reasons why you should learn English as a second language
                </p>
                <a href="https://www.idyoma.com/blog/5-reasons-to-learn-english-as-a-second-language" class="card-link" target="_blank">Find out more on the reasons</a>
                </div>
            </div>
            </div>
        </div>
    </article>
    <div class="container p-2 d-flex text-center">
        <a class="fw-bolder btn btn-dark btn-sm rounded-pill" role="button" href="#Top">Back to the top</a>
    </div>
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}
{% endblock body %}