{% extends 'base.html' %}
{% include 'partials/navbar.html'%}
{% include 'partials/messages.html'%}
{% block body %}
    <!-- Flash message for updated profile -->
    <!-- Profile section - Horizontal Cards -->
    <div class="container-fluid d-flex justify-content-center">
        <div class="card my-3 text-dark bg-light border-dark" style="max-width: 810px;"  id="box-shadow2">
            <div class="row g-0">
              <div class="col-sm-5">
                <!--App User's Profile Picture -->
                <img src="{{ profile_pic }}" class="img-fluid img-thumbnail" alt="App User profile picture">
                <div class="text-center">
                    <a class="btn btn-outline-dark rounded-pill text-center my-2" href="{{'edit_profile'}}" role="button">Edit Profile <i class="fa-solid fa-pen"></i></a>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="card-body">
                    <!-- Form Details Here -->
                    <h5 class="card-title">{{profile.firstname}} {{ profile.lastname }}</h5>
                    <!-- location -->
                    <h6 class="card-subtitle my-3"><i class="fa-solid fa-location-dot"></i> {{ profile.lookup_address }}</h6> 
                    <!-- user's languages-->
                    <p class="card-text"><i class="fa-solid fa-language"></i> Speaks: {{ profile.fluent_languages }}</p>
                    <!-- languages to learn -->
                    <p class="card-text"><i class="fa-brands fa-leanpub"></i> Wants to learn: {{ profile.other_languages }}</p> 
                    <!-- About User -->
                    <p class="card-text"><i class="fa-solid fa-network-wired"></i> About Me: {{ profile.interests }}</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center mb-5">
        <div class="card text-dark bg-light border-dark" style="width: 40rem;">
            <div class="card-body">
                <!-- <h5 class="card-title">Map</h5> -->
                <!-- Insert the map and delete the header-->
                <div id="container" style="width: 100%; height: 26rem;">
                    <!--Google map-->
                    <div id="map" style="height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}
<!-- JQuery and Map scripts  -->
<script src="{{ url_for('static', filename='map.js') }}"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key={{map_key}}&callback=initMap&libraries=geometry&v=weekly&channel=2"
  async
></script>
{% endblock body %}