{% extends 'base.html' %}
{% block body %}
{% include 'partials/navbar.html'%}
{% include 'partials/messages.html'%}
    <!-- Flash message for updated profile -->
    <!-- Profile section - Horizontal Cards -->
    <div class="container-fluid d-flex justify-content-center">
        <div class="card my-3 text-dark bg-light border-dark" style="max-width: 700px;"  id="box-shadow2">
            <div class="row g-0">
              <div class="col-sm-5">
                <!--App User's Profile Picture -->
                <img src="{{ profile_pic }}" class="img-fluid img-thumbnail mt-3" alt="User profile picture">
                <div class="text-center">
                    <a class="btn btn-outline-dark rounded-pill text-center my-2" href="{{'edit_profile'}}" role="button">Edit Profile <i class="fa-solid fa-pen"></i></a>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="card-body">
                    <!-- Form Details Here -->
                    <h5 class="card-title">{{current_user.firstname}} {{ current_user.lastname }}</h5>
                    <h6 class="card-subtitle my-3"><i class="fa-solid fa-location-dot"></i> {{ current_user.street}} {{ current_user.house }}</h6> <!--location-->
                    <p class="card-text"><i class="fa-solid fa-language"></i> Speaks {{ current_user.fluent_languages }} </p> <!--user's languages-->
                    <p class="card-text"><i class="fa-brands fa-leanpub"></i> Wants to learn {{ current_user.other_languages }}</p> <!--langs to learn -->
                    <p class="card-text"><i class="fa-solid fa-network-wired"></i> {{ current_user.interests }}</p><!--Interests-->
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center mb-3">
        <div class="card text-dark bg-light border-dark" style="width: 28rem;">
            <div class="card-body">
                <h5 class="card-title">Map</h5>
                <!-- Insert the map and delete the header-->
                <p>Map content here</p>
            </div>
        </div>
    </div>
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}
{% endblock body %}